menu "Telephony options"
	depends on MV_INCLUDE_TDM

config  MV_PHONE
	bool "Support for Marvell telephony(VoIP)"
	depends on MV_INCLUDE_TDM && PHONE
	default m
	---help---
	  Choosing this option enables the Marvell telephony underlying 
	  support for various VoIP applications. 
	  Note, kernel Telephony subsystem must be chosen too.

choice 
	prompt "TDM unit"
	depends on MV_PHONE

config MV_TDM_SUPPORT
	bool "Support legacy TDM(2 channels)"

config MV_COMM_UNIT_SUPPORT
	depends on ARCH_FEROCEON_KW2
	bool "Support CommUnit(up to 32 channels)"

endchoice

choice 
	prompt "SLIC vendor"
	depends on MV_PHONE

config SILABS_SLIC_SUPPORT
	bool "Support Silicon Labs devices"

config ZARLINK_SLIC_SUPPORT
	bool "Support Zarlink/Legirity devices"

endchoice

choice 
	prompt "SLIC type"
	depends on MV_PHONE && SILABS_SLIC_SUPPORT

config SILABS_SLIC_3215
	bool "Support Silicon Labs 3215 device"

config SILABS_SLIC_3217
	bool "Support Silicon Labs 3217 device"

endchoice

choice 
	prompt "SLIC type"
	depends on MV_PHONE && ZARLINK_SLIC_SUPPORT

config ZARLINK_SLIC_VE880
	bool "Support Zarlink VE880 SLIC family"

config ZARLINK_SLIC_VE792
	bool "Support Zarlink VE792 SLIC family"

endchoice


config MV_TDM_USE_EXTERNAL_PCLK_SOURCE
	bool "Support PCLK from external source"
	depends on MV_PHONE
	default n
	---help---
	Choosing this option enables TDM unit to use PCLK supplied by external source.

config TDM_DEV_TEST_SUPPORT
	bool "Support tdm testing"
	depends on MV_INCLUDE_TDM
	help
	   The tdm testing device supports several basic telephony tests on Marvell TDM based platforms.

config MV_PHONE_USE_SLIC_LIBS
	bool "Use binary slic drivers"
	default y
	---help---
	Unselect this option only if you have source code of slic drivers.
	If unsure, say "y"

config MV_COMM_UNIT_FSYNC_STRB_SUPPORT
	bool "Use CommUnit strobe pin as frame sync source"
	default y
	depends on MV_COMM_UNIT_SUPPORT
	help
	  The CommUnit frame sync 1/2/3 bit delay feature is not working in Z1 silicon revision, therefore
	  the strobe pin can be used as tunable frame sync source.

endmenu


